*{
    padding:0px;
	margin: 0px;
}

body{
    background-color: black;
    padding-top: 125px;
}


.titre1{
    color: rgb(254, 255, 249);
    font-size: 50px;
    padding-bottom: 250px;
    

}


.titre2{
    color: rgb(254, 255, 249); 
    font-size: 35px;
    
}

span{
    color:black;
}

.coucou{
    background: url(de.jpg);
    background-repeat: no-repeat;
    width: 600px;
    height: 700px;
     
    margin: auto;
    text-align: center;

}

#msg{
    color: rgb(254, 255, 249);
    font-size: 25px;
}

#bouton{
    height: 30px;
    width: 50px;
}